@font-face {
  font-family: "BousniRondeLTStd"; /* Give your font a name to use in CSS */
  src: url("../assets/fonts/BousniRondeLTStd-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: bold;
}
* {
  padding: 0;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
}

body {
  font-family: "BousniRondeLTStd", sans-serif;
  width: 100%;
  height: 100%;
  background-color: #e2e2e2;
  color: #737373;
}
table {
  background-color: #efefef;
  padding: 10px;
  border-radius: 5px;
  border-collapse: separate; /* This is necessary to apply border-spacing */
  border-spacing: 0 10px; /* 0 horizontal and 10px vertical spacing */
}

.sort {
  cursor: pointer;
}
th,
td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  /* border: none; */
}
tr {
  /* border: none; */
}
tbody tr {
  background-color: #fff;
  border-radius: 5px;
}
label {
  cursor: pointer;
}
/* Apply border-radius to the first and last td of the row */
button {
  border: none;
  outline: none;
  width: 50px;
}
select {
  background-color: #bfbfbf;
  border: 1px solid#bfbfbf;
  border-radius: 3px;
  color: #fff;
  width: 100px;
  height: 20px;
  cursor: pointer;
}
input[type="checkbox"] {
  cursor: pointer;
}

select option {
  background-color: #fff; /* Inherit the background color */
  color: #737373;
}
.notification {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #ff5e5e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
}
.notification-number {
  font-size: 10px;
}
a {
  text-decoration: none !important; /* Remove underline */
  color: inherit; /* Inherit the color from the parent element */
  /* Additional styles can be added or adjusted as needed */
}
.navbar {
  display: flex;
  gap: 30px;
  align-items: center;
  background-color: #bcbcbc;
  padding: 10px;
}

.navbar-end {
  display: flex;
  margin-right: auto;
  align-items: center;
  text-align: center;
}
.navbar-middle {
  display: flex;
  gap: 5px;
}
.navbar-item {
  position: relative;
  padding: 7px 10px 7px 23px;
  border-radius: 5px;
}
.navbar-item-selected {
  position: relative;
  padding: 7px 10px 7px 23px;
  border-radius: 5px;
  background-color: #cfd501;
}
.navbar-item:hover {
  background-color: #cfd501;
  cursor: pointer;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 30px;
  gap: 30px;
}
.categories-container {
  display: flex;
  gap: 10px;
  /* justify-content: flex-end; */
  /* margin-right: auto; */
}
.category {
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.category-chosen {
  background-color: #899ae1;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  color: #fff;
}
.category:hover {
  background-color: #899ae1;
  color: #fff;
}
.list {
  border: 1px solid #ccc;
  /* padding: 10px; */
  /* margin-bottom: 10px; */
  width: 200px;
  height: 100%;
  border-radius: 5px;
}

.list-item {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: #f8f8f8;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: self-start;
}
.lists-container {
  display: flex;
  gap: 50px;
  justify-content: center;
}
.list-container {
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  min-height: 400px;
  padding: 10px;
}
.list-header {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.search-container {
  background-color: #fff;
  border-radius: 6px;
  width: 30px;
  height: 30px;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.total-number {
  color: #fff;
  background-color: #ff5e5e;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
/* stepper */
#stepper-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 550px;
  margin: auto;
}

.step {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ddd;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s;
}

.step.active {
  background: #000;
  color: #fff;
}
.step-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
}

.step-title {
  margin-top: 5px; /* Spacing between step and title */
  color: #666; /* Grey color for the title text */
}

.connector {
  height: 2px;
  flex: 1;
  background: #848484;
  transition: background 0.3s;
}

.active ~ .connector {
  background: #000;
}

/* Existing styles for the stepper ... */

.content {
  /* margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd; */
  display: none;
}

#navigation-buttons {
  margin-top: 20px;
}

button {
  font-size: 15px;
  cursor: pointer;
}
#back-button {
  height: 25px;
  width: 50px;
  background-color: #b7b7b7;
  border: 1px solid #b7b7b7;
  color: #000;
  border-radius: 5px;
}
#next-button {
  height: 25px;
  width: 50px;
  background-color: #899ae1;
  border: 1px solid #899ae1;
  color: #fff;
  border-radius: 5px;
}
#submit-button {
  height: 25px;
  width: 50px;
  background-color: #6fd272;
  border: 1px solid #6fd272;
  color: #fff;
  border-radius: 5px;
}

/* horizontal stepper */

/* dropdown */
/* Style the dropdown container */
.dropdown {
  position: relative;
  display: none;
}

/* Style the dropdown button */
.dropdown-button {
  background-color: #899ae1;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  height: 30px;
  width: 70px !important;
  margin-bottom: 5px;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  /* display: block; */
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 5px;
}

/* Style the dropdown links */
.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown content when the dropdown button is hovered over */
.dropdown:hover .dropdown-content {
  display: block;
}

/* pagination */
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
}
.pagination li {
  margin: 0 5px;
}
.pagination a {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #000;
  color: #000;
}
.pagination a:hover {
  background-color: #000;
  color: #fff;
}
@media (max-width: 849px) {
  #navbar-middle {
    display: none; /* Adjust the height for smaller screens */
  }
  #dropdown {
    display: inline-block; /* Adjust the height for smaller screens */
  }
}

.form-container {
  background-color: #efefef;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.custom-input {
  width: 150px;
  height: 30px;
  background-color: white;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #333;
  border-radius: 5px;
}
.custom-input option {
  background-color: white;
  color: #333;
}
/* Style for the placeholder text */
.custom-input::placeholder {
  color: #888; /* Grey placeholder text color */
}
.remove {
  color: #000;
  background-color: #bfbfbf;
  border-radius: 5px;
  margin-right: auto;
}
.remove:hover {
  color: #bfbfbf;
  background-color: #000;
  border-radius: 5px;
}
.breadcrumb {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin-left: auto;
  display: flex;
  gap: 5px;
  color: #a3a3a3;
}
.breadcrumb a {
  text-decoration: none;
  color: #000;
  color: #a3a3a3;
}
.breadcrumb span {
  margin: 0 5px;
}
.alert {
  text-align: right;
  background-color: #f3f1aa;
  padding: 5px;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.parent-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
}
.child-flex {
  /* max-width: 50%; */
  display: flex;
  flex-wrap: wrap;

  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.input-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* switch */
.switch {
  position: relative;
  display: inline-block;
  /* width: 60px; */
  /* height: 34px; */
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  /* height: 26px; */
  /* width: 26px; */
  height: 18px;
  width: 18px;
  /* left: 4px;
  bottom: 4px; */
  left: 3px;
  bottom: 3.5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #6fd272;
}

input:focus + .slider {
  box-shadow: 0 0 1px #6fd272;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.content-container {
  background-color: #f2f2f2;
  padding: 20px;
  margin: auto;
  border-radius: 5px;
  max-width: 600px;
}
.custom-file-upload {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}
